<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<hr>
<ul>
  <li>Ancestry</li>
  <li>
    <ul>
      <li><%= link_to 'board_ancestries', board_ancestries_path %></li>
      <li><%= link_to 'epic_ancestries', epic_ancestries_path %></li>
      <li><%= link_to 'issue_ancestries', issue_ancestries_path %></li>
    </ul>
  </li>
  <li>Closure</li>
  <li>
    <ul>
      <li><%= link_to 'board_closures', board_closures_path %></li>
      <li><%= link_to 'epic_closures', epic_closures_path %></li>
      <li><%= link_to 'issue_closures', issue_closures_path %></li>
    </ul>
  </li>
</ul>
