<%= form_with(model: board_closure) do |form| %>
  <% if board_closure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_closure.errors.count, "error") %> prohibited this board_closure from being saved:</h2>

      <ul>
        <% board_closure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :board_name %>
    <%= form.text_field :board_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
