<p id="notice"><%= notice %></p>

<h1>Board Closures</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Board name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_closures.each do |board_closure| %>
      <tr>
        <td><%= board_closure.id %></td>
        <td><%= board_closure.board_name %></td>
        <td><%= link_to 'Show', board_closure %></td>
        <td><%= link_to 'Edit', edit_board_closure_path(board_closure) %></td>
        <td><%= link_to 'Destroy', board_closure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Closure', new_board_closure_path %>
