<p id="notice"><%= notice %></p>

<h1>Board Ancestries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Board name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_ancestries.each do |board_ancestry| %>
      <tr>
        <td><%= board_ancestry.id %></td>
        <td><%= board_ancestry.board_name %></td>
        <td><%= link_to 'Show', board_ancestry %></td>
        <td><%= link_to 'Edit', edit_board_ancestry_path(board_ancestry) %></td>
        <td><%= link_to 'Destroy', board_ancestry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Ancestry', new_board_ancestry_path %>
